<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>

    <header>
        <div class="logo">
            <h1>A7: Training Distillation vs LoRA</h1>
        </div>
    </header>

    <div class="content">
        <h2 class="web_title">Check if your text is toxic or non-toxic</h2>

        <form action="/" method="post" class="query_box">
            <label for="text_input">Enter Prompt:</label>
            <input type="text" id="text_input" name="text_input" required style="width: 100%;" value="{{ request.form['text_input'] if request.method == 'POST' else '' }}">
            <button type="submit">Submit</button>
        </form>

        {% if request.method == "POST" %}
            {% if result %}
            <div class="query_box elevation-2">
                <h3>Prediction Result:</h3>
                <p><strong>{{ result }}</strong></p>
            </div>
            {% else %}
            <div class="query_box elevation-2">
                <h3>Warning:</h3>
                <p><strong>Please enter a text prompt before submitting.</strong></p>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <footer>
        <p>© 2025 Text Classifier. All Rights Reserved.</p>
    </footer>

</body>
</html>

